

.mineralList {
    list-style-type: none;
}
.coloniesAndGovernors {
    display: flex;
}

.colonyMinerals {
    align-items: center;
    flex-basis: 50%;
}

h2, h3 {
    text-align: center;
}

.facilityAndCart {
    display: flex;
}

.facilityMinerals {
    flex-basis: 75%;

}

#orderButton {
    padding: .2em .7em;
    flex-wrap: wrap;
    font-size: 1em;
    
}


